.images-white-sprite, .smw .smw__logo, .smw .smw__prices__buy:before, .smw .smw__impression__list__item__tu:before, .smw .smw__impression__list__item__td:before, .smw .smw__impression__list__item__comments:before, .smw .smw__impression__list__item__has, .smw .smw__impression__list__item__like, .smw .where-to-buy input[type=submit], .smw .smw__impression__list__item__rate:before {
    background:url('../../images/images-white-s85e9ee53ca.png') no-repeat
}
.smw {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
    border:1px solid #cfcfcf
}
.smw .smw__header {
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f8), color-stop(100%, #f9f9f8));
    background-image:-webkit-linear-gradient(top, #f9f9f8, #f9f9f8);
    background-image:-moz-linear-gradient(top, #f9f9f8, #f9f9f8);
    background-image:-o-linear-gradient(top, #f9f9f8, #f9f9f8);
    background-image:linear-gradient(top, #f9f9f8, #f9f9f8);
    -pie-background:linear-gradient(top, #f9f9f8, #f9f9f8);
    background:-ms-linear-gradient(top, #f9f9f8, #f9f9f8);
    background:#f9f9f8;
    color:#808080;
    font-size:12px
}
.smw .smw__stuff-name {
    color:#000 !important;
    font-size:18px !important;
    font-weight:bold
}
.smw .smw__stuff-price {
    font-size:12px;
    color:#000
}
.smw .smw__stuff-img {
    background:0;
    border:0
}
.smw .smw__logo {
    background-position:0 -30px;
    height:34px;
    width:87px
}
.smw .smw__tab__nav {
    margin-left:1px
}
.smw .smw__tab__nav li {
    border-left:2px solid #e5e5e4;
    padding:0 1px
}
.smw .smw__tab__nav li:first-child {
    border-left:0
}
.smw .smw__tab__nav a {
    color:#000;
    font-size:12px;
    padding:0 10px;
    background:#fdfdfc;
    text-shadow:0 0 0 #fdfdfc
}
.smw .smw__tab__nav a:before {
    display:none
}
.smw .smw__tab__nav a.active {
    background:#0cf;
    -webkit-box-shadow:0 0 0 #0cf inset;
    -moz-box-shadow:0 0 0 #0cf inset;
    box-shadow:0 0 0 #0cf inset;
    color:#fff
}
.smw .smw__tab__nav a.active .smw__tab__nav__counter {
    color:#fff
}
.smw .smw__tab__nav__counter {
    color:#2897d7
}
.smw .smw__tab__contents {
    border-top:1px solid #d7d7d7;
    padding:0;
    margin:1px 0 0
}
.smw .smw__prices__list__table-head {
    background:rgba(0, 0, 0, 0.8);
    color:#fff;
    font-size:12px;
    -webkit-box-shadow:0 0 0 #3f3f3f inset;
    -moz-box-shadow:0 0 0 #3f3f3f inset;
    box-shadow:0 0 0 #3f3f3f inset
}
.smw .smw__prices__item:hover .smw__prices__list__cell {
    background:#f1f0f0
}
.smw .smw__prices__list__cell {
    text-transform:none;
    font-weight:300;
    color:#fff;
    text-align:center !important
}
.smw .smw__prices__list__cell:first-child {
    text-align:left !important
}
.smw .smw__prices__list__table .smw__prices__list__cell {
    color:#000;
    font-size:12px
}
.smw .smw__prices__item__cost {
    font-weight:700
}
.smw .smw__prices__buy {
    background:#0cf;
    height:16px;
    line-height:16px;
    color:#fff;
    position:relative;
    top:4px;
    right:8px;
    padding:0 7px;
    font-size:12px;
    text-transform:lowercase
}
.smw .smw__prices__buy {
    background:#01ccff
}
.smw .smw__prices__buy:before {
    left:-21px;
    top:2px;
    background-position:0 -287px;
    height:13px;
    width:17px
}
.smw .rate-white-sprite, .smw .smw__rate, .smw .smw__rate span {
    background:url('../../images/rate-white-sc1c4ab8de6.png') no-repeat
}
.smw .smw__rate {
    background-position:0 -11px;
    background-repeat:repeat-x !important;
    width:65px !important;
    margin:0 auto
}
.smw .smw__rate span {
    background-position:0 0;
    background-repeat:repeat-x !important;
    height:11px
}
.smw .smw__impression__list__item__tu:before {
    background-position:0 -251px;
    height:13px;
    width:12px
}
.smw .smw__impression__list__item__td:before {
    background-position:0 -274px;
    height:13px;
    width:12px
}
.smw .smw__impression__list__item__comments:before {
    background-position:0 -174px;
    height:13px;
    width:12px
}
.smw .smw__impression__list__item__has {
    background-position:0 -264px;
    height:10px;
    width:9px
}
.smw .smw__impression__list__item__like {
    background-position:0 -300px;
    height:10px;
    width:10px
}
.smw .smw__impression__head__rate {
    width:24px;
    height:24px;
    line-height:24px;
    padding:0;
    margin-top:3px;
    text-align:center;
    background:#01cbff
}
.smw .smw__impression__head {
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color:#fff
}
.smw .smw__impression__head__mark {
    color:#fff;
    top:-1px
}
.smw .smw__impression__filter a {
    color:#fff !important
}
.smw .smw__impression__list__item__date {
    color:#373737
}
.smw .smw__impression__list__item__rate {
    height:images-sprite-height(smw__review__list__item__rate);
    color:#818181
}
.smw .smw__impression__list__item__rate:before {
    background-position:0 -213px;
    height:12px;
    width:16px
}
.smw .smw__impression__list__item__name {
    color:#000 !important
}
.smw .smw__info__name {
    color:#666
}
.smw .where-to-buy {
    font-weight:normal;
    text-shadow:none;
}
.smw .where-to-buy a {
    color: #FFF;
    border-bottom:none;
}
.smw .where-to-buy__towns a {
    color: #000;
}
.smw .where-to-buy input[type=submit] {
    background-position:0 -133px;
    height:15px;
    width:14px
}
